@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400;1,800&display=swap');

:root {
    --Purple: hsl(259, 100%, 65%);
    --Light-red: hsl(0, 100%, 67%);
    --White: hsl(0, 0%, 100%);
    --Off-white: hsl(0, 0%, 94%);
    --Light-grey: hsl(0, 0%, 86%);
    --Smokey-grey: hsl(0, 1%, 44%);
    --Off-black: hsl(0, 0%, 8%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--Light-grey);

}

main {
    border-radius: 10px;
    border-bottom-right-radius: 140px;
    height: 500px;
    max-width: 375px;
    background-color: var(--White);
    box-shadow: 0px 0px 22px 8px rgba(158, 150, 150, 1);

}

.form-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 25px;

}

section {
    display: flex;
    flex-direction: column;
    width: 30%;
    padding: 15px;
}

input {
    padding: 5px;
    text-align: center;
    font-size: 20px;
    color: var(--Off-black);
    border: 1px solid var(--Light-grey);
    border-radius: 5px;
}

label {
    color: var(--Smokey-grey);
    margin: 5px 0;
    text-transform: uppercase;
}

.submit-btn {
    display: flex;
    justify-content: center;
    margin-top: -30px;
}

hr {
    margin: 50px 15px 0 15px;
}

button {
    border-radius: 50px;
    padding: 5px;
    background-color: var(--Purple);
    cursor: pointer;
}

ul {
    padding: 20px;
    text-align: center;
}

li {
    list-style: none;
    font-size: 40px;
    font-weight: 700;
}

span {
    font-size: 45px;
    color: var(--Purple);
    margin: 0 10px 0 0;
}

@media (min-width: 600px) {
    main {
        max-width: 580px;
    }

    input {
        padding: 10px;
        font-size: 30px;
        border-radius: 8px;
    }

    .submit-btn {
        justify-content: end;
        margin-right: 3rem;
    }

    span {
        font-size: 50px;
    }

}